name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: depot-ubuntu-24.04
    concurrency:
      group: build-${{ github.ref }}-${{ matrix.os }}-${{ matrix.version }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        os:
          - debian-minimal/trixie
          - ubuntu-minimal/jammy
          - rocky-container/9
        version:
          - 1.31.12
          - 1.32.8
          - 1.33.4
          - 1.34.0
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.VEXXHOST_BOT_PAT }}
      - uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
        with:
          enable-cache: true
      - run: uv sync
      - run: sudo apt-get install -y $(uv run bindep -b)
      - uses: winterjung/split@7f51d99e7cc1f147f6f99be75acf5e641930af88 # v2.1.0
        id: split
        with:
          msg: ${{ matrix.os }}
          separator: "/"
      - run: sudo chown root /bin/tar && sudo chmod u+s /bin/tar
        if: ${{ steps.split.outputs._0 == 'ubuntu' }}
      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            /home/runner/.cache/image-create
            !/home/runner/.cache/image-create/apt
          key: ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}-${{ github.head_ref || github.ref_name }}
          restore-keys: |
            ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}-${{ github.head_ref || github.ref_name }}
            ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}
            ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}
      - run: uv run disk-image-create vm ${{ steps.split.outputs._0 }} block-device-kubernetes kubernetes
        env:
          ELEMENTS_PATH: ${{ github.workspace }}/elements
          DIB_RELEASE: ${{ steps.split.outputs._1 }}
          DIB_KUBERNETES_VERSION: ${{ matrix.version }}
          DIB_MIN_TMPFS: "4"
          DIB_CLOUD_INIT_GROWPART_DEVICES: '["/"]'
          DIB_SKIP_BASE_PACKAGE_INSTALL: "1"
          DIB_IMAGE_SIZE: "2.8"
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}
          path: image.qcow2
          if-no-files-found: error
          retention-days: 7
      - run: mv image.qcow2 ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}-${{ github.run_id }}.qcow2
        if: github.event_name != 'pull_request'
      - uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        if: github.event_name != 'pull_request'
        with:
          tag_name: ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}-${{ github.run_id }}
          body: |
            # Kubernetes ${{ matrix.version }}

            - SHA: `${{ github.sha }}`
            - OS: `${{ steps.split.outputs._0 }}`
            - Release: `${{ steps.split.outputs._1 }}`
          prerelease: true
          files: ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}-${{ github.run_id }}.qcow2
          token: ${{ secrets.VEXXHOST_BOT_PAT }}
