name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: depot-ubuntu-24.04
    concurrency:
      group: build-${{ github.ref }}
      cancel-in-progress: false
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu/jammy
          - rocky-container/9
        version:
          - 1.31.12
          - 1.32.8
          - 1.33.4
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5.4.2
        with:
          enable-cache: true
      - run: uv sync
      - run: sudo apt-get install -y $(uv run bindep -b)
      - uses: winterjung/split@7f51d99e7cc1f147f6f99be75acf5e641930af88 # v2.1.0
        id: split
        with:
          msg: ${{ matrix.os }}
          separator: "/"
      - run: sudo chown root /bin/tar && sudo chmod u+s /bin/tar
        if: ${{ steps.split.outputs._0 == 'ubuntu' }}
      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: /home/runner/.cache/image-create
          key: ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}-${{ github.head_ref || github.ref_name }}
          restore-keys: |
            ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}-${{ github.head_ref || github.ref_name }}
            ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}
            ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}
      - run: uv run disk-image-create vm block-device-efi ${{ steps.split.outputs._0 }} kubernetes
        env:
          ELEMENTS_PATH: ${{ github.workspace }}/elements
          DIB_RELEASE: ${{ steps.split.outputs._1 }}
          DIB_KUBERNETES_VERSION: ${{ matrix.version }}
          DIB_MIN_TMPFS: "4"
          DIB_CLOUD_INIT_GROWPART_DEVICES: '["/"]'
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}
          path: image.qcow2
          if-no-files-found: error
          retention-days: 7
      - run: xz -z image.qcow2
        if: github.event_name != 'pull_request'
      - uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        if: github.event_name != 'pull_request'
        with:
          tag_name: ${{ steps.split.outputs._0 }}-${{ steps.split.outputs._1 }}-${{ matrix.version }}-${{ github.run_id }}
          body: |
            # Kubernetes ${{ matrix.version }}

            - SHA: `${{ github.sha }}`
            - OS: `${{ steps.split.outputs._0 }}`
            - Release: `${{ steps.split.outputs._1 }}`
          prerelease: true
          files: image.qcow2.xz
